body{
    background-color : rgb(159, 182, 139);}
    h2{
    color: rgb(0, 0, 0);
    font-size: 76px;}
    nav a{ /* tous les liens "a" à l'intérieur de la balise nav */
    float: left; /* effet flottant */
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    background: #000000; /* couleur de fond */
    height: 36px; /* hauteur */
    line-height: 33px; /* interligne */
    padding: 0 10px; /* marges intérieur */
    font-family: Georgia; /* police d'écriture */
    font-size: 13px; /* taille du texte */
    transition: .5s; /* temps de transition lors du hover : une demi seconde */
    }nav a:hover{ /* tous liens lors du survol dans la balise nav */
        background: #2e4b34; }
        nav a:hover:first-child{ background: #336699;}
p{
    color: rgb(16, 69, 167);
    font-size: 16px;

}
.rouge{
    color: crimson;
}
ul{

color: rgb(163, 8, 3);

}
table, caption, th, td {
    
    border: 2px solid rgba(0, 0, 0, 0.781);
      border-collapse: collapse;
    
    }
    caption, th, td {
    
    padding: 8px;
    font-family:Arial, Helvetica, sans-serif;
    }
    
    caption {
    
    background-color: rgba(211, 211, 211, 0);
    
    }
    
    th {
    
    background-color: rgb(252, 252, 252);
   
    }
    
    td {
    
    background-color: rgb(243, 243, 243);
    
    }